<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm}][%-5level][%logger{36}] - %msg %n" />
        </Console>
        <RollingFile name="file" fileName="log.txt" filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.zip">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm}][%-5level][%logger{36}] - %msg %n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="24" />
                <SizeBasedTriggeringPolicy size="250 MB" />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </Root>
    </Loggers>
</Configuration>